/* CAMPO DO JOGO (PISTA) */
#field {
  background-color: #666;
  overflow: hidden;
}

/* CARRO DO JOGADOR  */
#car {
  width: 20px;
  height: 40px;
  background-color: red;
  position: absolute;
  bottom: 0;
  border-radius: 4px;
  z-index: 2;
}

/*  OBSTÁCULOS (OUTROS CARROS) */
.obstacle {
  width: 20px;
  height: 40px;
  background-color: black;
  position: absolute;
  border-radius: 4px;
}

/*  FAIXAS DA PISTA */
.lane {
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: white;
  left: 98px;
  opacity: 0.8;
}
